--
-- PostgreSQL database dump
--

\restrict azmzqifTQR91ElxfCJssa5yRWClrdycg4lE3H44dCZalq73a9rK8O9vW9t22IPi

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: interview_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.interview_type AS ENUM (
    'HR',
    'USER'
);


ALTER TYPE public.interview_type OWNER TO postgres;

--
-- Name: job_priority_types; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.job_priority_types AS ENUM (
    'low',
    'medium',
    'high'
);


ALTER TYPE public.job_priority_types OWNER TO postgres;

--
-- Name: job_status_types; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.job_status_types AS ENUM (
    'draft',
    'active',
    'paused',
    'closed'
);


ALTER TYPE public.job_status_types OWNER TO postgres;

--
-- Name: mcu_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.mcu_status AS ENUM (
    'Pending',
    'Passed',
    'Failed'
);


ALTER TYPE public.mcu_status OWNER TO postgres;

--
-- Name: offer_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.offer_status AS ENUM (
    'Sent',
    'Accepted',
    'Rejected'
);


ALTER TYPE public.offer_status OWNER TO postgres;

--
-- Name: user_roles; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_roles AS ENUM (
    'SUPER_USER',
    'HR'
);


ALTER TYPE public.user_roles OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: candidates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.candidates (
    id character varying NOT NULL,
    resume_id character varying NOT NULL,
    name character varying,
    email character varying,
    phone character varying,
    education character varying,
    experience character varying,
    skills text,
    top_position character varying,
    match_score integer,
    verdict text,
    created_at timestamp without time zone
);


ALTER TABLE public.candidates OWNER TO postgres;

--
-- Name: interviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.interviews (
    id character varying NOT NULL,
    candidate_id character varying,
    interview_type public.interview_type,
    interviewer_id character varying,
    score integer,
    notes text,
    created_at timestamp without time zone
);


ALTER TABLE public.interviews OWNER TO postgres;

--
-- Name: job_positions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_positions (
    id character varying(36) NOT NULL,
    title character varying(100) NOT NULL,
    department character varying(50) NOT NULL,
    level character varying(50) NOT NULL,
    location character varying(100) NOT NULL,
    employment_type character varying(50) NOT NULL,
    priority public.job_priority_types NOT NULL,
    status public.job_status_types NOT NULL,
    salary_min bigint,
    salary_max bigint,
    salary_currency character varying(3),
    job_description text NOT NULL,
    requirements json,
    required_skills json,
    available boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.job_positions OWNER TO postgres;

--
-- Name: medical_checkups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.medical_checkups (
    id character varying NOT NULL,
    candidate_id character varying,
    status public.mcu_status,
    notes text,
    checked_at timestamp without time zone
);


ALTER TABLE public.medical_checkups OWNER TO postgres;

--
-- Name: offer_letters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.offer_letters (
    id character varying NOT NULL,
    candidate_id character varying,
    status public.offer_status,
    sent_at timestamp without time zone,
    responded_at timestamp without time zone
);


ALTER TABLE public.offer_letters OWNER TO postgres;

--
-- Name: psychotest_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.psychotest_sessions (
    id character varying NOT NULL,
    candidate_id character varying,
    psychotest_id character varying,
    token character varying,
    expires_at timestamp without time zone,
    started_at timestamp without time zone,
    finished_at timestamp without time zone,
    score integer,
    is_submitted boolean,
    is_locked boolean
);


ALTER TABLE public.psychotest_sessions OWNER TO postgres;

--
-- Name: psychotests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.psychotests (
    id character varying NOT NULL,
    name character varying,
    duration_minutes integer,
    total_score integer
);


ALTER TABLE public.psychotests OWNER TO postgres;

--
-- Name: resumes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resumes (
    id character varying NOT NULL,
    filename character varying NOT NULL,
    uploaded_at timestamp without time zone,
    index_path text,
    chunks_path text,
    raw_text text
);


ALTER TABLE public.resumes OWNER TO postgres;

--
-- Name: screening_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.screening_results (
    id character varying NOT NULL,
    candidate_id character varying NOT NULL,
    job_id character varying NOT NULL,
    match_score integer,
    skill_score integer,
    experience_score integer,
    verdict text,
    created_at timestamp without time zone
);


ALTER TABLE public.screening_results OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id character varying NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    password_hash character varying NOT NULL,
    role public.user_roles NOT NULL,
    is_active boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: candidates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: interviews; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.interviews (id, candidate_id, interview_type, interviewer_id, score, notes, created_at) FROM stdin;
\.


--
-- Data for Name: job_positions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: medical_checkups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.medical_checkups (id, candidate_id, status, notes, checked_at) FROM stdin;
\.


--
-- Data for Name: offer_letters; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.offer_letters (id, candidate_id, status, sent_at, responded_at) FROM stdin;
\.


--
-- Data for Name: psychotest_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.psychotest_sessions (id, candidate_id, psychotest_id, token, expires_at, started_at, finished_at, score, is_submitted, is_locked) FROM stdin;
\.


--
-- Data for Name: psychotests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.psychotests (id, name, duration_minutes, total_score) FROM stdin;
\.


--
-- Data for Name: resumes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: screening_results; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.screening_results (id, candidate_id, job_id, match_score, skill_score, experience_score, verdict, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, name, email, password_hash, role, is_active, created_at) FROM stdin;
1154f394-aebe-4ded-8738-fd134fde7e3e	admin	admin@gmail.com	admin	SUPER_USER	t	2025-12-19 19:16:32.888522
\.


--
-- Name: candidates candidates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT candidates_pkey PRIMARY KEY (id);


--
-- Name: interviews interviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interviews
    ADD CONSTRAINT interviews_pkey PRIMARY KEY (id);


--
-- Name: job_positions job_positions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_positions
    ADD CONSTRAINT job_positions_pkey PRIMARY KEY (id);


--
-- Name: medical_checkups medical_checkups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medical_checkups
    ADD CONSTRAINT medical_checkups_pkey PRIMARY KEY (id);


--
-- Name: offer_letters offer_letters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.offer_letters
    ADD CONSTRAINT offer_letters_pkey PRIMARY KEY (id);


--
-- Name: psychotest_sessions psychotest_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.psychotest_sessions
    ADD CONSTRAINT psychotest_sessions_pkey PRIMARY KEY (id);


--
-- Name: psychotests psychotests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.psychotests
    ADD CONSTRAINT psychotests_pkey PRIMARY KEY (id);


--
-- Name: resumes resumes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resumes
    ADD CONSTRAINT resumes_pkey PRIMARY KEY (id);


--
-- Name: screening_results screening_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.screening_results
    ADD CONSTRAINT screening_results_pkey PRIMARY KEY (id);


--
-- Name: screening_results uq_candidate_job; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.screening_results
    ADD CONSTRAINT uq_candidate_job UNIQUE (candidate_id, job_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_psychotest_sessions_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_psychotest_sessions_token ON public.psychotest_sessions USING btree (token);


--
-- Name: ix_screening_results_candidate_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_screening_results_candidate_id ON public.screening_results USING btree (candidate_id);


--
-- Name: ix_screening_results_job_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_screening_results_job_id ON public.screening_results USING btree (job_id);


--
-- Name: candidates candidates_resume_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT candidates_resume_id_fkey FOREIGN KEY (resume_id) REFERENCES public.resumes(id) ON DELETE CASCADE;


--
-- Name: interviews interviews_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interviews
    ADD CONSTRAINT interviews_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidates(id);


--
-- Name: interviews interviews_interviewer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interviews
    ADD CONSTRAINT interviews_interviewer_id_fkey FOREIGN KEY (interviewer_id) REFERENCES public.users(id);


--
-- Name: medical_checkups medical_checkups_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medical_checkups
    ADD CONSTRAINT medical_checkups_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidates(id);


--
-- Name: offer_letters offer_letters_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.offer_letters
    ADD CONSTRAINT offer_letters_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidates(id);


--
-- Name: psychotest_sessions psychotest_sessions_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.psychotest_sessions
    ADD CONSTRAINT psychotest_sessions_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidates(id);


--
-- Name: psychotest_sessions psychotest_sessions_psychotest_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.psychotest_sessions
    ADD CONSTRAINT psychotest_sessions_psychotest_id_fkey FOREIGN KEY (psychotest_id) REFERENCES public.psychotests(id);


--
-- Name: screening_results screening_results_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.screening_results
    ADD CONSTRAINT screening_results_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidates(id);


--
-- Name: screening_results screening_results_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.screening_results
    ADD CONSTRAINT screening_results_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.job_positions(id);


--
-- PostgreSQL database dump complete
--

\unrestrict azmzqifTQR91ElxfCJssa5yRWClrdycg4lE3H44dCZalq73a9rK8O9vW9t22IPi

